<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head') %>

<body class="bg-dark">
  <%- include('includes/nav') %>

  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <h1 class="text-center text-light fs-1 fw-bold"><%= code %></h1>
        <p class="text-center text-warning fs-4 "><%= message %></p>
      </div>

    </div>

  </div>

  <%- include('includes/scripts') %>
</body>

</html>